__pycache__/
_old/
ciclo-vidr.sh
command_run_job.txt
configs/
dataset_*/
err.err
fix_CXRdataset_columns.py
main-causal_gc.py
main-debug.py
out/
*.out
pretrained_models/
code/out/
.main-crocodile.py.swp
_old_and_misc/
main-crocodile_OriginalLEO.py
python_err.log
python_out.log
